{{#section 'head'}}
    <meta property="og:title" content="Gamecat- Rewards for Gamers" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.gamecat.co/" />
    <meta property="og:image" content="https://gamecat.co/img/social.png" />
    <meta property="og:description" content="Gamecat is an exclusive rewards program for gamers, by gamers. Play new games, watch videos, and get paid!" />
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/home.css">
{{/section}}

<section id="home" class="container">
    {{>container_header header_image="/img/mascot.svg" header_text="Home"}}
    {{#if event}}
        <div class="row banner-info text-center justify-content-center" id="event-info">
            <div class="col-12 pt-4">
                <h1>{{event.modifier}}x Crystal Event Active!</h1>
                <p>Get {{event.modifier}}x the crystals for each quest and survey you complete until {{event.endDate}}!</p>
            </div>
        </div>
    {{/if}}
    <div class="row banner-info pt-3 pb-3 text-center justify-content-center" id="user-info">
        <div class="col-12 mb-3">
            <h1>{{udata.username}}</h1>
            {{>widgets/xpBar user=udata}}

            <p class="mt-2" id="domore">
                Complete quests and surveys or refer your friends to gain experience, each level gives you bonus crystals as well as a 2.5% bonus on all quests and surveys!
            </p>
        </div>
    </div>
    <div class="row banner-info pt-3 pb-3 text-center justify-content-center" id="crystal-info">
        <h1>You currently have {{udata.points}} <img src="/img/crystal.svg" alt="crystals" class="crystal-ico"></h1>
        {{>widgets/dailyBonus user=udata}}
        <p class="pt-3">Visit the <a href="/shop">shop</a> to spend your crystals on rewards.
            If you don't see the reward you want feel free to <a href="/contact">contact us</a> for a custom order or to suggest new products.
        </p>
    </div>

    <div class="row banner-info pt-3 pb-3 text-center justify-content-center" id="activity-info">
        <div class="col-md-4 pr-4 pl-4" id="activity-quests">
            <a href="/offers">
                <img src="/img/quest.svg" alt="Complete quests!" class="img-fluid" width="50%" />
                <h3 >Complete Quests</h3>
            </a>
            <p>You can earn crystals and experience by playing new games at the <a href="/offers">Quests Page</a>.
                To complete a quest you sign up for a game with a valid email address, and play it for a few days.
                What could be better than getting paid to game?
            </p>
        </div>
        <div class="col-md-4 pr-4 pl-4" id="activity-surveys">
            <a href="/offers/surveys">
                <img src="/img/survey.svg" alt="Invite your friends!" class="img-fluid" width="50%"/>
                <h3>Finish Offers</h3>
            </a>
            <p>You can also earn crystals and experience very quickly by finishing offers on the <a href="/offers/surveys">Offers Page</a>.
                There are a variety of offers available such as surveys, free trials, and shopping deals! You can even earn
                Crystals by watching videos.
                Most of these offers take only a few minutes, and many of them give you a chance to get free stuff or gift cards!</p>
        </div>
        <div class="col-md-4 pr-4 pl-4" id="activity-refer">
            <a href="/account">
                <img src="/img/friend.svg" alt="Invite your friends!" class="img-fluid" width="50%"/>
                <h3>Refer Friends</h3>
            </a>
            <p>
                If you refer your friends to Gamecat you will both get 100 <img src="/img/crystal.svg" alt="crystals" class="crystal-ico">
                and experience! Just tell them to sign up using your referral link.
                Your referral link is:
                <input class="form-control mt-2" type="text" value="https://gamecat.co/signup?ref_by={{udata.username}}" readonly>
            </p>
        </div>
    </div>

</section>
