<div class="row">
    {{#each events}}
        <div class="col-sm-3">
            <h2>{{this.name}}</h2>
            <h3>{{this.modifier}}</h3>
            <p>Start: {{this.startDate}}</p>
            <p>End: {{this.endDate}}</p>
            <!--            <a class="btn btn-primary" href="/store/buy?id={{this._id}}">Purchase</a>-->
        </div>
    {{/each}}

</div>