<div class="row">
    {{#each users}}
        <div class="col-sm-3">
            <h3>{{this.username}}</h3>
            <p>Points: {{this.points}}</p>
            <p>{{this.email}}</p>
            <form>
                <input type="hidden" id="user" name="user" value="{{this.username}}">
                <button class="btn btn-primary" type="submit" formaction="/admin/users/ban" formmethod="post">BAN</button>
            </form>
            <!--            <a class="btn btn-primary" href="/store/buy?id={{this._id}}">Purchase</a>-->
        </div>
    {{/each}}

</div>