{{#section 'head'}}
    <meta name="referrer" content="no-referrer" />
    <link rel="stylesheet" href="/css/offer-page.css">
{{/section}}
{{>widgets/dailyBonus user=udata}}
<section class="container">
    {{>container_header header_text="Quests"}}
    {{>widgets/eventNotifier event=event modifierText=modifierText}}
    <ul class="row offer-list">

        {{#each offers}}
            <li class="col-md-6 justify-content-center">
                <div class="offer-item">
                    <a href="{{this.tracking_url}}" class="row offer-link">
                        <img src="{{this.thumbnail_url}}"  alt="{{this.name}}" class="row offer-image">
                    </a>
                        <p class="offer-reward">{{this.payout}} <img class="crystal-ico" src="/img/crystal.svg" alt="crystals"/></p>
                        <div class="offer-info">
                            <a href="{{this.tracking_url}}" class="row offer-link">
                                <span>{{this.name}}</span>
                            </a>
                            <p class="offer-description">{{this.description}}</p>
                            <p class="offer-conditions">Conditions: {{this.conditions}}</p>
                        </div>
                </div>
            </li>
        {{/each}}
    </ul>

    <div id="infinite-trigger"></div>
</section>
