<div class="row">
    {{#each users}}
        <div class="col-sm-3">
            <h2>{{this.name}}</h2>
            <h3>{{this.username}}</h3>
            <p>{{this.email}}</p>
            <form>
                <input type="hidden" id="unbanneduser" name="unbanneduser" value="{{this.username}}">
                <button class="btn btn-primary" type="submit" formaction="/admin/users/unban" formmethod="post">UNBAN</button>
            </form>
            <!--            <a class="btn btn-primary" href="/store/buy?id={{this._id}}">Purchase</a>-->
        </div>
    {{/each}}

</div>