{{#section 'head'}}
    <meta name="referrer" content="no-referrer" />
    <link rel="stylesheet" href="/css/offer-page.css">
{{/section}}

<section class="container">
    <div class="container-header">
        <div class="row">
            <img class="col-12 img-fluid" src="/img/layout/questpage.svg">
            <h1 class="col-12 text-center">Quests</h1>
        </div>
    </div>

    <ul class="row offer-list" data-subid1="{{subid1}}">
        {{#each offers}}
            <li class="col-md-6 justify-content-center">
                <div class="offer-item">
                    <a href="{{this.tracking_url}}" class="row offer-link">
                        <img src="{{this.thumbnail_url}}"  alt="{{this.name}}" class="row offer-image">
                    </a>
                        <p class="offer-reward"> <img class="crystal-ico" src="/img/crystal.svg" alt="crystals"/></p>
                        <div class="offer-info">
                            <a href="{{this.tracking_url}}" class="row offer-link">
                                <span>{{this.name}}</span>
                            </a>
                            <p class="offer-description">{{this.description}}</p>
                        </div>
                </div>
            </li>
        {{/each}}
    </ul>

    <div id="infinite-trigger"></div>
</section>
