{{#section 'head'}}
    <link rel="stylesheet" href="/css/prize.css">
    <meta property="og:description" content="{{prize.description}}" />
    <meta property="og:url" content="https://www.gamecat.co/shop/{{prize.name}}" />
{{/section}}

{{#section 'body_scripts'}}
    <script src="/js/views/prize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" defer></script>
{{/section}}

{{>"modals/form-errors"}}
{{>"modals/alert"}}

<section class="container">
    {{>container_header header_text="Shop"}}

    <div class="row prize">
        <img class="col-lg-6 prize-img" src="{{prize.image_path}}" alt="{{prize.name}}" />
        <div class="col-lg-6 prize-info">
            <h1 class="row prize-name">{{prize.name}}</h1>

            <form class="row form form-control form-dark prize-form" action="/shop/buy" method="post">
                <input type="hidden" name="product" value="{{prize._id}}">
                <div class="form-group row">
                    <div class="col-4">
                        <select name="option" id="option">
                            {{#each prize.options }}
                                <option value="{{this.point_cost}}" data-dollarvalue="{{this.dollar_value}}">${{this.dollar_value}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="col-4 point-container">
                        <span id="point-cost">{{prize.options.[0].point_cost}} </span><img src="/img/crystal.svg" alt="crystals" class="crystal-ico" />
                    </div>

                    <div class="col-4">
                        {{#if udata}}
                            <input type="submit" value="Buy" class="btn btn-primary">
                        {{/if}}
                    </div>
                </div>
            </form>
            <p class="row prize-desc">{{prize.description}}</p>
        </div>
    </div>
</section>
